.huzuni-ui-tabs {
  border: 1px solid var(--color-panel-border);
  display: flex;
  flex-direction: column;
}

.huzuni-ui-tabs > div:first-child {
  border-bottom: 1px solid var(--color-panel-border);
  display: flex;
}

.huzuni-ui-tabs > div:first-child span {
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
}

.huzuni-ui-tabs > div:first-child span:hover {
  background-color: var(--color-shaded-background);
}

.huzuni-ui-tabs > div:first-child span.active {
  background-color: var(--color-panel-border);
}
